.sidebar {
  width: 90px;
  height: 95vh;
  position: fixed;
  top: 20px;
  left: 20px;
  background: #0a1d9c;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow-y: auto;
  scrollbar-width: none;
  padding-top: 20px;
  padding-bottom: 50px;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  top: 20px;
  width: 90px;
  background: #0a1d9c;
  padding-top: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1000;
}

.logo-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}

.nav {
  list-style: none;
  width: 100%;
  padding: 0;
  margin-top: 60px;
}

.nav li {
  padding: 10px 15px;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.nav li i {
  font-size: 25px;
}

.nav li:hover {
  background: rgba(176, 72, 177, 0.9);
}

.nav li span {
  font-size: 10px;
  text-align: center;
}

/* --- Dropdown Styling --- */
.dropdown {
  position: fixed;
  background: #fff;
  color: #000;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  min-width: 180px;
  list-style: none;
  padding: 8px 0;
  z-index: 1001;
  animation: dropdownFade 0.25s ease forwards;
  max-height:200px;
  overflow-y: auto;
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown li {
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.dropdown li:hover {
  background: rgba(176, 72, 177, 0.1);
  color: #0a1d9c;
}

@media (max-width: 468px) {
  .sidebar {
    display: none;
  }
}