.toast-notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background: white;
  padding: 14px 18px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  z-index: 2000;

  /* Entire lifetime = 1.5s */
  animation: slideIn 0.3s ease, fadeOut 0.3s ease 1.2s forwards;
}

.toast-notification.success {
  border-left: 6px solid #27ae60;
  background-color: #e8f9ee;
  color: #1b7b3e;
}

.toast-notification.error {
  border-left: 6px solid #e74c3c;
  background-color: #fdecea;
  color: #b32b25;
}

.toast-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toast-notification i {
  font-size: 18px;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

/*  Mobile Responsive Styling */
@media (max-width: 600px) {
  .toast-notification {
    right: 5px;
    /* left: 10px; */
    width: auto;
    padding: 10px 12px;
    /* font-size: 13px; */
    top: 10px;
  }

  .toast-content{
    font-size: 11px;
  }
}
